<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Биржа Акций</title>

  <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>


  <header class="header" data-header>
    <div class="container">

      <a href="#" class="logo">
          Биржа акций
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link active" data-nav-link>Страница пользователя</a>
          </li>

          <li class="navbar-item">
            <a href="#market" class="navbar-link" data-nav-link>Рынок</a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>О нас</a>
          </li>

        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>


  <main>
    <article>

      <section class="home" aria-label="home" data-section>
        <div class="container">

          <div class="home-content">

            <h1 class="h1 home-title">Следите за фондовым рынком вместе с нами</h1>

            <p class="home-text">
              Цены акций, новости компаний, торговый календарь, демо торговля
            </p>
              <p></p>

            <a href="#" class="btn btn-primary">Let's get started</a>

          </div>

        </div>
      </section>

      <section class="market" id="market" aria-label="market update" data-section>
        <div class="container">

          <div class="title-wrapper">
            <h2 class="h2 section-title">Рынок акций</h2>

            <a href="#" class="btn-link">See All Coins</a>
          </div>

          <div class="market-tab">

            <ul class="tab-nav">

              <li>
                <button class="tab-btn active">View All</button>
              </li>

              <li>
                <button class="tab-btn">Metaverse</button>
              </li>

              <li>
                <button class="tab-btn">Entertainment</button>
              </li>

              <li>
                <button class="tab-btn">Energy</button>
              </li>

              <li>
                <button class="tab-btn">NFT</button>
              </li>

              <li>
                <button class="tab-btn">Gaming</button>
              </li>

              <li>
                <button class="tab-btn">Music</button>
              </li>

            </ul>

            <table class="market-table">

              <thead class="table-head">

                <tr class="table-row table-title">

                  <th class="table-heading"></th>

                  <th class="table-heading" scope="col">#</th>

                  <th class="table-heading" scope="col">Название</th>

                  <th class="table-heading" scope="col">Текущая цена</th>

                  <th class="table-heading" scope="col">Изменение за день %</th>

                    <th class="table-heading" scope="col">Изменение за день</th>

                  <th class="table-heading" scope="col">Цена открытия</th>

                  <th class="table-heading"></th>

                </tr>

              </thead>

              <tbody class="table-body">

                <tr class="table-row" th:each="stock : ${stockPricesList}">

                  <td class="table-data">
                    <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                      <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                      <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                    </button>
                  </td>

                  <th class="table-data rank" scope="row">1</th>

                  <td class="table-data">
                    <div class="wrapper">
                      <h3>
                        <a th:href="@{/stockmarket/{ticker}(ticker=${stock.getTicker()})}" class="coin-name"> <span th:text="${stock.getTicker()}" class="span"></span></a>
                      </h3>
                    </div>
                  </td>
                    <div class="card-body">
                        <td class="card-title text-center" th:id="${stock.getTicker()}"></td>
                    </div>

                  <td class="table-data last-update green" th:text="${stock.getD()}"></td>

                    <td class="table-data market-cap" th:text="${stock.getDp()}"></td>

                    <td class="table-data market-cap" th:text="${stock.getO()}" ></td>

                  <td class="table-data">
                    <button class="btn btn-outline">Trade</button>
                  </td>

                </tr>

              </tbody>

            </table>

          </div>
            <div>
                <div class="row mt-3">

                    <div class="col-sm-9">

                        <div class="card w-100">
                            <div class="card-header">
                                Portfolio
                            </div>
                            <div class="card-body">

                                <table class="table" id="customer-portfolio">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Current Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div id="alerts" class="mt-3">

                    </div>


                </div>

            </div>

        </div>
      </section>


      <section class="about" id="about" aria-label="about" data-section>
        <div class="container">

          <figure class="about-banner">
            <img src="./assets/images/app-about.png" width="748" height="436" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="h2 section-title">Вся информация о акциях США в одном месте!</h2>

            <p class="section-text">
              Мы предоставляем доступ ко всей информации определённой акции
            </p>

            <ul class="section-list">

              <li class="section-item">
                <div class="title-wrapper">
                  <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                  <h3 class="h3 list-title">Попробуйте себя в демо-трейдинге</h3>
                </div>
              </li>

              <li class="section-item">
                <div class="title-wrapper">
                  <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>

                  <h3 class="h3 list-title">Следите за вашими любимыми APPLE, AMAZON, GOOGLE, Etc...</h3>
                </div>

                <p class="item-text">
                  Владельцы премиум подписки получают доступ к уникальной информации
                </p>
              </li>

            </ul>

            <a href="#" class="btn btn-primary">Узнать больше</a>

          </div>

        </div>
      </section>

    </article>
  </main>


  <footer class="footer">

    <div class="footer-top" data-section>
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./assets/images/logo.png" width="50" height="50" alt="Crypto Bazaar logo">
            Crypto Bazaar
          </a>

          <h2 class="footer-title">Свяжитесь со мной</h2>

          <a href="tel:+919512279080" class="footer-contact-link">egormalov.2007@gmail.com</a>

          <a href="mailto:naitikmakwana168gmail.com" class="footer-contact-link">egormalov51@gmail.com</a>

          <address class="footer-contact-link">
            Россия
          </address>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; Проект сделан в 2024 году Маловым Егором Алексеевичем, дизайн сайта был взят у парня из Индии<a href="#" class="copyright-link"></a>
        </p>

        <ul class="social-list">
          <li>
            <a href="https://github.com/Cerberus3445" class="social-link">
              <ion-icon name="logo-github"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>

  <script>
      'use strict';

      /**
       * add event on element
       */

      const addEventOnElem = function (elem, type, callback) {
          if (elem.length > 1) {
              for (let i = 0; i < elem.length; i++) {
                  elem[i].addEventListener(type, callback);
              }
          } else {
              elem.addEventListener(type, callback);
          }
      }



      /**
       * navbar toggle
       */

      const navbar = document.querySelector("[data-navbar]");
      const navbarLinks = document.querySelectorAll("[data-nav-link]");
      const navToggler = document.querySelector("[data-nav-toggler]");

      const toggleNavbar = function () {
          navbar.classList.toggle("active");
          navToggler.classList.toggle("active");
          document.body.classList.toggle("active");
      }

      addEventOnElem(navToggler, "click", toggleNavbar);

      const closeNavbar = function () {
          navbar.classList.remove("active");
          navToggler.classList.remove("active");
          document.body.classList.remove("active");
      }

      addEventOnElem(navbarLinks, "click", closeNavbar);



      /**
       * header active
       */

      const header = document.querySelector("[data-header]");

      const activeHeader = function () {
          if (window.scrollY > 300) {
              header.classList.add("active");
          } else {
              header.classList.remove("active");
          }
      }

      addEventOnElem(window, "scroll", activeHeader);



      /**
       * toggle active on add to fav
       */

      const addToFavBtns = document.querySelectorAll("[data-add-to-fav]");

      const toggleActive = function () {
          this.classList.toggle("active");
      }

      addEventOnElem(addToFavBtns, "click", toggleActive);



      /**
       * scroll revreal effect
       */

      const sections = document.querySelectorAll("[data-section]");

      const scrollReveal = function () {
          for (let i = 0; i < sections.length; i++) {
              if (sections[i].getBoundingClientRect().top < window.innerHeight / 1.5) {
                  sections[i].classList.add("active");
              } else {
                  sections[i].classList.remove("active");
              }
          }
      }

      scrollReveal();

      addEventOnElem(window, "scroll", scrollReveal);
  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script>
      // elements
      const customerPortfolioValueElement = document.getElementById('customer-portfolio-value');

      // get price updates
      const stockPriceUpdates = () => {
          var source = new EventSource("/api/stocks");
          source.onmessage = (evt) => {
              let event = JSON.parse(evt.data);
              let element = document.getElementById(event.ticker);
              element.innerText = `$${event.c}`;
              stockPrices[event.ticker] = event.c;
              let customerQuantity = document.getElementById(`customer-quantity-${event.ticker}`);
              if(customerQuantity){
                  let q = parseInt(customerQuantity.innerText);
                  let price = q * event.c;
                  document.getElementById(`customer-value-${event.ticker}`).innerText = `$${c}`;
                  customerPortfolioValue[event.ticker] = price;
                  updateCustomerPortfolioDisplayValue();
              }
          };
      };


      const updateCustomerPortfolioDisplayValue = () => {
          const sum = Object.values(customerPortfolioValue).reduce((acc, val) => acc + val, 0);
          if(sum >= 10000){
              customerPortfolioValueElement.innerHTML = `<p class="text-success">$${sum}</p>`;
          }else{
              customerPortfolioValueElement.innerHTML = `<p class="text-danger">$${sum}</p>`;
          }
      };

      // trigger these functions on page load
      document.addEventListener("DOMContentLoaded", () => {
          stockPriceUpdates();
          fetchCustomerInformation();
      });
  </script>
</body>

</html>