<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Демо-Торговля</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/trading.css" th:href="@{/css/trading.css}">
</head>

<body>
  <header class="header" data-header>
    <div class="container">

      <h1 href="#" class="logo">
        Демо-торговля
      </h1>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#" class="navbar-link active" data-nav-link>Страница пользователя</a>
          </li>

          <li class="navbar-item">
            <a href="/stockmarket/trading/toStockMarketReserve" class="navbar-link" data-nav-link>Рынок Акций</a>
          </li>

            <li class="navbar-item">
                <a href="/stockmarket/trading/toStockMarket" class="navbar-link" data-nav-link>Рынок Акций (если другая ссылка не работает)</a>
            </li>

        </ul>
      </nav>

      <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>


  <main>
              <div class="home-content">

                  <div th:if="${userBalance}">
                      <h1>Ваш баланс: </h1>
                      <h1 th:text="${userBalance.balance()}"> </h1>
                      <form method="post" th:action="@{/stockmarket/trading/increaseBalance}">
                          <label for="sum">Укажите сумму, на которую хотите увеличить баланс</label>
                          <input type="number" name="sum" id="sum">
                          <button class="tab-btn">
                              <input type="submit" value="увеличить">
                          </button>
                      </form>
                  </div>

                  <div th:if="${noUserBalance}">
                      <h1>Создайте баланс для демо-торговли</h1>
                      <form method="post" th:action="@{/stockmarket/trading/createBalance}">
                          <button class="tab-btn">
                              <input type="submit" value="Создать баланс">
                          </button>
                      </form>
                  </div>

                  <p>
                      Цены акций, новости компаний, торговый календарь, демо торговля
                  </p>
                  <p></p>
              </div>

      <section class="home" aria-label="home" data-section>
          <div class="chart">
              <div class="tradingview-widget-container">
                  <div class="tradingview-widget-container__widget"></div>
                  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
                  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                      {
                          "width": "980",
                          "height": "800",
                          "symbol": "NASDAQ:AAPL",
                          "interval": "D",
                          "timezone": "Etc/UTC",
                          "theme": "dark",
                          "style": "1",
                          "locale": "en",
                          "allow_symbol_change": true,
                          "calendar": false,
                          "support_host": "https://www.tradingview.com"
                      }
                  </script>
              </div>
          </div>
      </section>

              <form method="post" th:action="@{/stockmarket/trading/trade}" th:object="${tradeRequest}">
                  <input type="text" th:field="*{ticker}" class="form__input" id="ticker" placeholder="Тикер" required="" />
                  <label for="ticker" class="form__label">Тикер Акции</label>
                  <input type="text" th:field="*{quantity}" class="form__input" id="quantity" placeholder="Количество" required="" />
                  <label for="quantity" class="form__label">Количество</label>
                  <input type="text" th:field="*{tradeAction}" class="form__input" id="tradeAction" placeholder="Покупка/Продажа" required="" />
                  <label for="tradeAction" class="form__label">Покупка/Продажа</label>
                  <button class="tab-btn">
                      <input type="submit" value="Trade">
                  </button>
              </form>

      <div th:each="item : ${tradeHistory}">
          <h1 th:text="${item}"></h1>
      </div>
  </main>

</body>

</html>